# flyctl launch added from .gitignore
**/.env
**/chroma_store
**/__pycache__
**/*.pyc
**/.venv
**/venv

# flyctl launch added from venv/lib/python3.11/site-packages/chromadb/proto/.gitignore
venv/lib/python3.11/site-packages/chromadb/proto/**/*_pb2.py*
venv/lib/python3.11/site-packages/chromadb/proto/**/*_pb2_grpc.py
fly.toml
